<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="../assets/css/easy-grid.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./../assets/template/css/vendor.css" />
    <link rel="stylesheet" href="./../assets/template/css/style.css" />

    <title>Easy Grid 🧩</title>
</head>

<body data-spy="scroll" data-target="#toc">


    <section class="py-0">
        <div class="container-fluid">
            <div class="row justify-content-between">

                <!-- navigation -->
                <aside class="col-lg-3 col-xxl-2 p-3 doc-sidebar">
                    <div class="sticky">
                        <nav class="navbar navbar-vertical navbar-expand-lg navbar-light">
                            <div>
                                <a href="./../" class="navbar-brand"><img src="./../assets/template/images/puzzle.png"
                                        alt="EasyGrid"><span class="badge badge-green ml-2">1.0.0</span></a>
                                <button class="navbar-toggler" type="button" data-toggle="collapse"
                                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                            </div>


                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul id="page-nav" class="nav flex-column nav-vertical-2">
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="collapse" href="#menu-1" role="button"
                                            aria-expanded="true" aria-controls="menu-1">Empecemos</a>
                                        <div class="collapse" id="menu-1" data-parent="#page-nav">
                                            <ul class="nav flex-column">
                                                <li class="nav-item">
                                                    <a class="nav-link" href="/">Introducción</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="nav-item active">
                                        <a class="nav-link" data-toggle="collapse" href="#menu-2" role="button"
                                            aria-expanded="false" aria-controls="menu-2">Componentes</a>
                                        <div class="collapse show" id="menu-2" data-parent="#page-nav">
                                            <div>
                                                <ul class="nav flex-column">
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="./breakpoints.html">Breakpoints</a>
                                                    </li>
                                                </ul>
                                                <ul class="nav flex-column">
                                                    <li class="nav-item">
                                                        <a class="nav-link active" href="./container.html">Containers</a>
                                                    </li>
                                                </ul>
                                                <ul class="nav flex-column">
                                                    <li class="nav-item">
                                                        <a class="nav-link" href="./grid.html">Grid</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </aside>
                <!-- / navigation -->


                <!-- content -->
                <article class="col-lg-9 col-xxl-10 doc-content">

                    <div class="row">
                        <div class="col">
                            <div class="doc-content-header">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <nav aria-label="breadcrumb" class="align-items-center">
                                            <ol class="breadcrumb d-none d-lg-inline-flex">
                                                <li class="breadcrumb-item"><a href="./../">Home</a></li>
                                                <li class="breadcrumb-item active" aria-current="page">Documentación
                                                </li>
                                            </ol>
                                        </nav>
                                    </div>
                                    <div class="col text-right">
                                        <a href="https://github.com/JoseHS06/easy-grid" target=""
                                            class="btn btn-sm btn-outline-purple btn-rounded"><span
                                                class="fs-20 fab fa-github"></span> Ver en GitHub</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-between doc-content-body" style="min-height: 1000px;">
                        <article class="col-md-9 col-xxl-8">

                            <h1 class="h2 font-weight-light"><b>Containers</b></h1>


                            <!-- section -->
                            <section id="section-1">
                                <p class="section-title-2">Breakpoints pensados en determinar la responsividad dependiendo de los dispositivos en los que se piense presentar.</p>
                                <p><b>Easy Grid</b> hace uso de un container principal que integrará a cualquier <i class="text-green">e-grid</i> con sus respectivas columnas.</p>
                                <hr>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <th></th>
                                            <th>Desktop<br>≥992px</th>
                                            <th>Tablet<br>≥768px</th>
                                            <th>Mobile<br>≥576px</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>container</td>
                                                <td>≥992px</td>
                                                <td>≥992px</td>
                                                <td>≥992px</td>
                                            </tr>
                                            <tr>
                                                <td>container-fluid</td>
                                                <td>≥768px</td>
                                                <td>≥768px</td>
                                                <td>≥768px</td>
                                            </tr>
                                           
                                        </tbody>
                                    </table>
                                </div>

                                <pre>
                                    <code class="language-html">
&lt;div class="container">
    &lt;!-- contenido-->
&lt;/div>
                                    </code>
                                </pre>
                            </section>
                            <!-- / section -->

                        </article>


                        <aside class="col-md-3 col-xxl-3 d-none d-md-block">
                            <div class="sticky">
                                <ul id="toc" class="nav flex-column toc">
                                    <li class="nav-item">
                                        <a data-scroll class="nav-link" href="#section-1">Containers</a>
                                    </li>
                                </ul>
                            </div>
                        </aside>


                    </div>

                </article>
                <!-- / content -->

            </div>
        </div>
    </section>


    <!-- footer -->
    <footer class="bg-dark">
        <div class="container">
            <div class="row gutter-3">
                <div class="col-12 col-md-2">
                    <a href="index.html"><img src="./../assets/template/images/puzzle.png" height="80px" alt="Logo"></a>
                </div>
                <div class="col-12 col-md-6 text-white">
                    <p class="mb-4">Maquetado facíl para tus diseños propios</p>
                    <div class="row">
                        <div class="col">
                            <ul class="list-group list-group-minimal">
                                <li class="list-group-item fs-40"><a href="https://github.com/JoseHS06/easy-grid.git"
                                        target="_blank" class="link"><i class="fs-50 fab fa-github"></i> Github</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 d-flex justify-content-end">
                    Copyright (c) 2022  &nbsp;<a class="text-green" href="https://github.com/JoseHS06/"" target="_blank"> JoseHS06&nbsp;</a> 👽
                </div>
            </div>
        </div>
    </footer>
    <!-- / footer -->


    <script src="./../assets/template/js/vendor.min.js"></script>
    <script src="./../assets/template/js/app.js"></script>
</body>

</html>